{deps, [
    {erlweb,    ".*", 	{git, "https://github.com/mirahs/erlweb.git",       {branch, master}}}
    ,{erlydtl,  ".*", 	{git, "https://github.com/erlydtl/erlydtl.git",		{branch, master}}} % 0.13.1 后一个 tag
    ,{mysql,	".*",   {git, "https://github.com/mirahs/mysql.git",		{branch, master}}}
    ,{jsx,		".*",   {git, "https://github.com/talentdeficit/jsx.git",	{tag, "v3.0.0"}}}
]}.

{erl_opts, [no_debug_info]}.
