{% extends 'base.html' %}

{% block body %}

<div class="container" id="cpcontainer">
  <div class="itemtitle">
	<h3>{{ base.title_sub }}</h3>
  </div>
  
  <table class="tb tb2 ">
        <tr style="height:20px" class="hover">
            <td>
                <form name="cpform" method="post" autocomplete="off" style="display:inline;" onsubmit="return check_form(this);">
                    <select id="play_type" name="play_type" onchange="type_onchange(this);">
                        <option value="0">请选择玩法</option>
                        {% for data in datas %}
                        <option value="{{ data.type }}">{{ data.plain }}</option>
                        {% endfor %}
                    </select>
                    权值：<input type="text"	class="txt"  id="play_weight" name="play_weight"  style="width:60px;" />
                    <input type="submit" class="btn"  value="更改" />
                </form>
            </td>
        </tr>
    </table>

    <table class="tb tb2 ">
        <tr class="header">
            <th>玩法类型</th>
            <th>权值</th>
            <th>说明</th>
        </tr>
        {% for data in datas %}
        <tr style="height:20px" class="hover">
        	<td class="td24">{{ data.type }}</td>
            <td class="td24">{{ data.weight }}</td>
            <td class="td24">{{ data.plain }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<script type="text/javascript">
function check_form(obj) {
    if (!obj.play_type.value) {
        alert('请选择玩法类型');
        return false;
    }
    else if (!obj.play_weight.value)
    {
        alert('请输入权值');
        return false;
    }
    else if (isNaN(obj.play_weight.value))
    {
        alert('权值只能为数字');
        return false;
    }
    else if (parseFloat(obj.play_weight.value) <= 0)
    {
        alert('权值不能小于0!');
        return false;
    }

    return true;
}

var plays = {{ play_json | safe }};

function type_onchange(obj)
{
    var type 			= obj.value;
    var playWeight      = document.getElementById('play_weight');

    if (type != '0') {
        playWeight.value   = plays[type];
    } else {
        playWeight.value   = '';
    }
}
</script>

{% endblock %}
